*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: grey;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inpFile{
  display: none;
}

#imgId{
  filter: blur(1px)
  brightness(100%)
  sepia(1%)
  opacity(100%)
  invert(1%)
  saturate(100%);

}

.image-preview__image{
  display: none;
  width: 400px;
  height: 350px;
}

img{
  width: 400px;
  height: 350px;
}

.filters{
  margin-top: 50px;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input{
  width: 100px;
}
